# DTSC-580: Data Manipulation
## Assignment: Survivor

### Name:

## Overview

In this assignment, you will test all the skills that you have learned during this course to manipulate the provided data to find the answers to questions about the TV show Survivor.  If you are not familiar with this show, start by watching this short clip that briefly explains it:  [Survivor Explained](https://www.youtube.com/watch?v=l1-hTpG_krk)

Please note that your notebook should be named `survivor` when submitting to CodeGrade for the automatic grading to work properly.

## Data

The Survivor data is a R package from Daniel Oehm.  Daniel has made the data for this package available as an Excel file as explained in his article on [gradientdescending.com](http://gradientdescending.com/survivor-data-from-the-tv-series-in-r/).  Please make sure that you use the file from our Brightspace page though to make sure that your data will match what CodeGrade is expecting.  We have also updated some errors in the file, which is another reason that you must use the data given to you.

You need to first read the article on the website linked above.  This will give you additional details about the data that will be important as you answer the questions below.

Please note that there is a data dictionary in the file that explains the columns in the data.  You will also want to become familiar with the various spreadsheets and column names.

Finally, here are a couple of things to know for those of you that have not seen the show:
- Survivor is a reality TV show that first aired May 31, 2000 and is currently still on TV.
- Contestants are broken up into two teams (usually) where they live in separate camps. 
- The teams compete in various challenges for rewards (food, supplies, brief experience trips, etc) and tribal immunity.  
- The team that loses a challenge, and therefore doesn't get the tribal immunity, goes to tribal council where they have to vote one of their members out (this data is represented in the "Vote History" spreadsheet).
- After there are a small number of contestants left, the tribes are merged into one tribe where each contestant competes for individual immunity.  The winner of the individual immunity cannot get voted out and is safe at the next tribal council.
- The are also hidden immunity idols that are hidden around the campground.  If a contestant finds and plays their hidden immunity at the tribal council, then all votes against them do not count, and the player with the next highest number of votes goes home.
- When the contestants get down to 2 or 3 people, a number of the last contestants, known as the jury, come back to vote for the person who they think should win the game.  The winner is the one who gets the most jury votes (this data is represented in the "Jury Votes" spreadsheet).  This person is known as the Sole Survivor.
- Voting recap: 
    - Tribal Council votes (Vote History spreadsheet) are bad; contestants with the most votes get sent home
    - Jury Votes (Jury Votes spreadsheet) are good; contestants with the most votes win the game and is the Sole Survivor

## Note

<u>Show Work</u>

Remember that you must show your work.  Students submissions are spot checked manually to verify that they are not hard coding the answer from looking only in the file or in CodeGrade's expected output.  If this is seen, the student's answer will be manually marked wrong and their grade will be changed to reflect this.

For example, if the question is who is the contestant who has received the most tribal votes to be voted out.  Select their record from the `castaway_details` DataFrame.  

You would show your work and code similar to this:
```
### incorrect way ###
Q1 = castaway_details[castaway_details['castaway_id'] ==  333]

### correct way - showing your work ###
# get index
idx = vote_history.groupby('vote_id').size().sort_values(ascending=False).index[0]

# select row based on index 
Q1 = castaway_details[castaway_details['castaway_id'] ==  idx]
```

<u>Use Copy</u>

Don't change any of the original DataFrames unless specifically asked or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [3]:
# standard imports
import pandas as pd
import numpy as np

# Do not change this option; This allows the CodeGrade auto grading to function correctly
pd.set_option('display.max_columns', None)

First, import the data from the `survivor.xlsx` file, calling the respective DataFrames the same as the sheet name but with lowercase and [snake case](https://en.wikipedia.org/wiki/Snake_case).  For example, the sheet called `Castaway Details` should be saved as a DataFrame called `castaway_details`.  Make sure that the data files are in the same folder as your notebook.

Note:  You may or may not need to install [openpyxl](https://openpyxl.readthedocs.io/en/stable/) for the code below to work.  You can use: `$ pip install openpyxl`

In [4]:
# import data from Excel

# setup Filename and Object
fileName = "survivor.xlsx"
xls = pd.ExcelFile(fileName)

# import individual sheets
castaway_details = pd.read_excel(xls, 'Castaway Details')
castaways = pd.read_excel(xls, 'Castaways')
challenge_description = pd.read_excel(xls, 'Challenge Description')
challenge_results = pd.read_excel(xls, 'Challenge Results')
confessionals = pd.read_excel(xls, 'Confessionals')
hidden_idols = pd.read_excel(xls, 'Hidden Idols')
jury_votes = pd.read_excel(xls, 'Jury Votes')
tribe_mapping = pd.read_excel(xls, 'Tribe Mapping')
viewers = pd.read_excel(xls, 'Viewers')
vote_history = pd.read_excel(xls, 'Vote History')
season_summary = pd.read_excel(xls, 'Season Summary')
season_palettes = pd.read_excel(xls, 'Season Palettes')
tribe_colours = pd.read_excel(xls, 'Tribe Colours')

**Exercise1:** Change every column name of every DataFrame to lowercase and snake case.  This is a standard first step for some programmers as lowercase makes it easier to write and snake case makes it easier to copy multiple-word column names.

For example, `Castaway Id` should end up being `castaway_id`.  You should try doing this using a `for` loop instead of manually changing the names for each column.  It should take you no more than a few lines of code.  Use stackoverflow if you need help.

In [5]:
### ENTER CODE HERE ###

dfs = [castaway_details, castaways, challenge_description, challenge_results, confessionals, hidden_idols, jury_votes,
       tribe_mapping, viewers, vote_history, season_summary, season_palettes, tribe_colours]
       
for df in dfs:
    df.rename(columns=lambda col: col.replace(' ', '_').lower(), inplace=True)

**Q2:** What contestant was the oldest at the time of their season?  We want to look at their age at the time of the season and NOT their current age.  Select their row from the `castaway_details` DataFrame and save this as `Q2`.  This should return a DataFrame and the index and missing values should be left as is.

In [6]:
### ENTER CODE HERE ###

con_id = castaways.sort_values(by='age', ascending=False).head(1)['castaway_id'].values[0]

Q2 = castaway_details[castaway_details['castaway_id'] ==  con_id]

Q2

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
13,14,Rudy Boesch,Rudy,1928-01-20,2019-11-01,Male,NaN,NaN,Retired Navy SEAL,ISTJ

**Q3:** What contestant played in the most number of seasons? Select their row from the `castaway_details` DataFrame and save this as `Q3`.  This should return a DataFrame and the index and missing values should be left as is.

In [7]:
### ENTER CODE HERE ###

castaway2 = castaways.drop_duplicates(subset= ['castaway_id', 'season'])

castaway3 = castaway2.loc[castaway2.duplicated(subset='castaway_id', keep=False)]

con_id4 = castaway3['castaway_id'].mode().values[0]

Q3 = castaway_details[castaway_details['castaway_id'] ==  con_id4]

Q3

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
54,55,Rob Mariano,Boston Rob,1975-12-25,NaT,Male,NaN,NaN,Construction Worker,ESTJ

**Q4:** Create a DataFrame of all the contestants that won their season (aka their final result in the `castaways` DataFrame was the 'Sole Survivor').  Call this DataFrame `sole_survivor`.  Note that contestants may appear more than one time in this DataFrame if they won more than one season.  Make sure that the index goes from 0 to n-1 and that the DataFrame is sorted ascending by season number.

The DataFrame should have the same columns, and the columns should be in the same order, as the `castaways` DataFrame.

In [8]:
### ENTER CODE HERE ###

sole_survivor = castaways.loc[castaways['result'] == 'Sole Survivor'].sort_values(by='season').reset_index(drop=True)

sole_survivor

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: Borneo,1,Richard Hatch,16,Richard,39,Newport,Rhode Island,ENTP,14,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,4
1,Survivor: The Australian Outback,2,Tina Wesson,32,Tina,40,Knoxville,Tennessee,ESFJ,16,42,16,Sole Survivor,NaN,Ogakor,NaN,NaN,Barramundi,0,2
2,Survivor: Africa,3,Ethan Zohn,48,Ethan,27,Lexington,Massachusetts,ISFP,15,39,16,Sole Survivor,NaN,Boran,Boran,NaN,Moto Maji,0,4
3,Survivor: Marquesas,4,Vecepia Towery,64,Vecepia,36,Hayward,California,ISTJ,15,39,16,Sole Survivor,NaN,Maraamu,Rotu,NaN,Soliantu,2,4
4,Survivor: Thailand,5,Brian Heidik,80,Brian,34,Quartz Hill,California,ISTP,15,39,16,Sole Survivor,NaN,Chuay Gahn,NaN,NaN,Chuay Jai,0,8
5,Survivor: The Amazon,6,Jenna Morasca,96,Jenna,21,Bridgeville,Pennsylvania,ISTP,15,39,16,Sole Survivor,NaN,Jaburu,Jaburu,NaN,Jacaré,3,7
6,Survivor: Pearl Islands,7,Sandra Diaz-Twine,112,Sandra,29,Fort Lewis,Washington,ESTP,15,39,18,Sole Survivor,NaN,Drake,Drake,NaN,Balboa,0,3
7,Survivor: All-Stars,8,Amber Brkich,27,Amber,25,Beaver,Pennsylvania,ISFP,17,39,18,Sole Survivor,NaN,Chapera,Chapera,Chapera,Chaboga Mogo,6,6
8,Survivor: Vanuatu,9,Chris Daugherty,130,Chris,33,South Vienna,Ohio,ENTP,15,39,18,Sole Survivor,NaN,Lopevi,Lopevi,NaN,Alinta,3,6
9,Survivor: Palau,10,Tom Westman,150,Tom,40,Sayville,New York,ESTJ,15,39,20,Sole Survivor,NaN,Koror,NaN,NaN,Koror,0,12
10,Survivor: Guatemala,11,Danni Boatwright,166,Danni,29,Tonganoxie,Kansas,ENFJ,15,39,18,Sole Survivor,NaN,Nakúm,Yaxhá,NaN,Xhakúm,1,5
11,Survivor: Panama,12,Aras Baskauskas,182,Aras,24,Santa Monica,California,INFP,16,39,16,Sole Survivor,NaN,Viveros,Casaya,NaN,Gitanos,9,4
12,Survivor: Cook Islands,13,Yul Kwon,202,Yul,31,San Mateo,California,INTJ,16,39,20,Sole Survivor,NaN,Puka Puka,Aitutaki,Aitutaki,Aitutonga,5,6
13,Survivor: Fiji,14,Earl Cole,221,Earl,35,Santa Monica,California,INFJ,15,39,19,Sole Survivor,NaN,Ravu,Moto,NaN,Bula Bula,1,5
14,Survivor: China,15,Todd Herzog,237,Todd,22,Pleasant Grove,Utah,ENFP,15,39,16,Sole Survivor,NaN,Fei Long,Fei Long,NaN,Hae Da Fung,5,4
15,Survivor: Micronesia,16,Parvati Shallow,197,Parvati,25,Los Angeles,California,ENFJ,15,39,20,Sole Survivor,NaN,Malakal,Airai,NaN,Dabu,4,7
16,Survivor: Gabon,17,Robert Crowley,265,Bob,57,South Portland,Maine,INTP,14,39,18,Sole Survivor,NaN,Kota,Kota,Kota,Nobag,2,8
17,Survivor: Tocantins,18,James Thomas Jr.,281,J.T.,24,Mobile,Alabama,ESTP,15,39,16,Sole Survivor,NaN,Jalapao,NaN,NaN,Forza,0,5
18,Survivor: Samoa,19,Natalie White,301,Natalie,26,Van Buren,Arkansas,ISFJ,16,39,20,Sole Survivor,NaN,Foa Foa,NaN,NaN,Aiga,8,1
19,Survivor: Heroes vs. Villains,20,Sandra Diaz-Twine,112,Sandra,35,Fayetteville,North Carolina,ESTP,15,39,20,Sole Survivor,NaN,Villains,NaN,NaN,Yin Yang,3,4
20,Survivor: Nicaragua,21,Jud Birza,321,Fabio,21,Venice,California,ESFP,16,39,20,Sole Survivor,NaN,La Flor,La Flor,NaN,Libertad,2,8
21,Survivor: Redemption Island,22,Rob Mariano,55,Boston Rob,34,Pensacola,Florida,ESTJ,15,39,20,Sole Survivor,NaN,Ometepe,NaN,NaN,Murlonio,7,9
22,Survivor: South Pacific,23,Sophie Clarke,353,Sophie,22,Willsboro,New York,INTJ,16,39,20,Sole Survivor,NaN,Upolu,NaN,NaN,Te Tuna,5,6
23,Survivor: One World,24,Kim Spradlin,371,Kim,29,San Antonio,Texas,INFJ,15,39,18,Sole Survivor,NaN,Salani,Salani,NaN,Tikiano,3,6
24,Survivor: Philippines,25,Denise Stapley,386,Denise,41,Cedar Rapids,Iowa,INFJ,15,39,18,Sole Survivor,NaN,Matsing,Kalabaw,NaN,Dangrayne,6,1
25,Survivor: Caramoan,26,John Cochran,348,Cochran,25,Washington,D.C.,INTP,15,39,20,Sole Survivor,NaN,Bikal,Bikal,NaN,Enil Edam,0,7
26,Survivor: Blood vs. Water,27,Tyson Apostol,274,Tyson,34,Provo,Utah,ESTP,15,39,23,Sole Survivor,NaN,Galang,Tadhana,NaN,Kasama,2,8
27,Survivor: Cagayan,28,Tony Vlachos,424,Tony,39,Jersey City,New Jersey,ESTP,14,39,18,Sole Survivor,NaN,Aparri,Solana,NaN,Solarrion,5,6
28,Survivor: San Juan del Sur,29,Natalie Anderson,442,Natalie,28,Edgewater,New Jersey,ESTP,15,39,18,Sole Survivor,NaN,Hunahpu,Hunahpu,NaN,Huyopa,0,6
29,Survivor: Worlds Apart,30,Mike Holloway,460,Mike,38,North Richland Hills,Texas,ESTP,15,39,18,Sole Survivor,NaN,Escameca,Escameca,NaN,Merica,4,7
30,Survivor: Cambodia,31,Jeremy Collins,433,Jeremy,37,Foxboro,Massachusetts,ESTJ,15,39,20,Sole Survivor,NaN,Bayon,Bayon,Bayon,Orkun,3,7
31,Survivor: Kaoh Rong,32,Michele Fitzgerald,478,Michele,24,Freehold,New Jersey,ESFP,15,39,18,Sole Survivor,NaN,Gondol,Chan Loh,NaN,Dara,1,7
32,Survivor: Millennials vs. Gen X,33,Adam Klein,498,Adam,25,San Francisco,California,ENTP,14,39,20,Sole Survivor,NaN,Vanua,Takali,NaN,Vinaka,6,6
33,Survivor: Game Changers,34,Sarah Lacina,414,Sarah,32,Marion,Iowa,ENTJ,14,39,20,Sole Survivor,NaN,Nuku,Tavua,NaN,Maku Maku,0,4
34,Survivor: Heroes vs. Healers vs. Hustlers,35,Ben Driebergen,516,Ben,34,Boise,Idaho,ESFP,14,39,18,Sole Survivor,NaN,Levu,Yawa,NaN,Solewa,11,4
35,Survivor: Ghost Island,36,Wendell Holland,536,Wendell,33,Philadelphia,Pennsylvania,INFJ,14,39,20,Sole Survivor,NaN,Naviti,Naviti,Yanuya,Lavita,5,8
36,Survivor: David vs. Goliath,37,Nick Wilson,556,Nick,27,Williamsburg,Kentucky,ENTP,14,39,20,Sole Survivor,NaN,David,Jabeni,NaN,Kalokalo,0,4
37,Survivor: Edge of Extinction,38,Chris Underwood,559,Chris,25,Greenville,South Carolina,ENTP,14,39,20,Sole Survivor,NaN,Manu,NaN,NaN,Vata,9,1
38,Survivor: Island of the Idols,39,Tommy Sheehan,590,Tommy,26,Long Beach,New York,ENFJ,14,39,20,Sole Survivor,NaN,Vokai,Vokai,NaN,Lumuwaku,2,6
39,Survivor: Winners at War,40,Tony Vlachos,424,Tony,45,Allendale,New Jersey,ESTP,15,39,22,Sole Survivor,NaN,Dakal,Dakal,NaN,Koru,0,9
40,Survivor: 41,41,Erika Casupanan,594,Erika,32,Toronta,Ontario,ENFP,13,26,18,Sole Survivor,NaN,Luvu,NaN,NaN,Via Kana,2,8

**Q5:** Have any contestants won more than one time?  If so, select their records from the `sole_survivor` DataFrame, sorting the rows by season.  Save this as `Q5`.  If no contestant has won twice, save `Q5` as the string `None`.

In [9]:
### ENTER CODE HERE ###

sole_survivor2 = sole_survivor.loc[sole_survivor.duplicated(subset='castaway_id', keep=False)]

con_id2 = sole_survivor2['castaway_id'].values[0]

con_id3 = sole_survivor2['castaway_id'].values[2]

con_list = [con_id3, con_id2]


Q5 = sole_survivor[(sole_survivor['castaway_id'] == con_id2 )|(sole_survivor['castaway_id'] == con_id3 )].sort_values(by='season')

Q5

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
6,Survivor: Pearl Islands,7,Sandra Diaz-Twine,112,Sandra,29,Fort Lewis,Washington,ESTP,15,39,18,Sole Survivor,NaN,Drake,Drake,NaN,Balboa,0,3
19,Survivor: Heroes vs. Villains,20,Sandra Diaz-Twine,112,Sandra,35,Fayetteville,North Carolina,ESTP,15,39,20,Sole Survivor,NaN,Villains,NaN,NaN,Yin Yang,3,4
27,Survivor: Cagayan,28,Tony Vlachos,424,Tony,39,Jersey City,New Jersey,ESTP,14,39,18,Sole Survivor,NaN,Aparri,Solana,NaN,Solarrion,5,6
39,Survivor: Winners at War,40,Tony Vlachos,424,Tony,45,Allendale,New Jersey,ESTP,15,39,22,Sole Survivor,NaN,Dakal,Dakal,NaN,Koru,0,9

**Q6:** Using [value_counts()](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html), what is the normalized relative frequencies (percentage) breakdown of gender for all the contestants?  Count someone who played in multiple seasons only once.  Round the results to 3 decimal places.  Save this as `Q6`.

In [10]:
### ENTER CODE HERE ###

Q6 = castaway_details['gender'].value_counts(normalize=True).round(3)

Q6

Male          0.502
Female        0.497
Non-binary    0.002
Name: gender, dtype: float64

**Q7:** 

- What percentage of times has a male won his season?  Save this percentage as `Q7A`.  
- What percentage of time has a female won her season?  Save this percentage as `Q7B`.  
- Note: Round all percentages to two decimal points and write as a float (example: `55.57`).
- Note 2: If a contestant has won twice, count each win separately.

In [11]:
### ENTER CODE HERE ###
winner_gender = pd.merge(sole_survivor, castaway_details, how="inner", left_on="castaway_id", right_on="castaway_id")

winner_mgender = winner_gender[winner_gender['gender'] == 'Male'].count()['gender']/ (winner_gender['gender'].count())

winner_fgender = winner_gender[winner_gender['gender'] == 'Female'].count()['gender']/ (winner_gender['gender'].count())

Q7A = (winner_mgender*100).round(2)

Q7A

60.98

In [12]:
### ENTER CODE HERE ###
Q7B = (winner_fgender*100).round(2)

Q7B

39.02

**Q8:** What is the average age of contestants when they appeared on the show?  Save this as `Q8`.  Round to nearest integer.

In [13]:
### ENTER CODE HERE ###
castaway_age = castaways.drop_duplicates(subset= ['castaway_id', 'season'])

Q8 = ((castaway_age['age'].sum()) / (castaway_age['castaway_id'].count())).round(0).astype(int)

Q8

33

**Q9:** Who played the most total number of days of Survivor? If a contestant appeared on more than one season, you would add their total days for each season together. Save the top five contestants in terms of total days played as a DataFrame and call it `Q9`, sorted in descending order by total days played.  

The following columns should be included: `castaway_id`, `full_name`, and `total_days_played` where `total_days_played` is the sum of all days a contestant played. The index should go from 0 to n-1.

Note:  Be careful because on some seasons, the contestant was allowed to come back into the game after being voted off.  Take a look at [Season 23's contestant Oscar Lusth](https://en.wikipedia.org/wiki/Ozzy_Lusth#South_Pacific) in the `castaways` DataFrame as an example.  He was voted out 7th and then returned to the game.  He was then voted out 9th and returned to the game a second time.  He was then voted out 17th the final time.  Be aware of this in your calculations and make sure you are counting the days according to the last time they were voted off or won.

In [2]:
### ENTER CODE HERE ###
castaway2 = castaways.drop_duplicates(subset= ['castaway_id', 'season'])

most_days = castaway2.groupby('castaway_id').agg({'day':'sum', 'full_name':'first'}).sort_values(by='day', ascending=False).reset_index()

most_days2 = most_days.rename(columns={'day': 'total_days_played'})

Q9 = most_days2[['castaway_id', 'full_name', 'total_days_played']].head(5)

Q9

NameError: name 'castaways' is not defined

**Q10A & Q10B**: Using the `castaway_details` data, what is the percentage of total extroverts and introverts that have played the game (count players only once even if they have played in more than one season).  Do not count contestants without a personality type listed in your calculations.  Save these percentages as `Q10A` and `Q10B` respectively.  Note: Round all percentages to two decimal points and write as a float (example: 55.57). 

For more information on personality types check this [Wikipedia article](https://en.wikipedia.org/wiki/Myers%E2%80%93Briggs_Type_Indicator).

In [14]:
### ENTER CODE HERE ###
castaway_details2 = castaway_details[castaway_details['personality_type'].notna()]
introvert_list = ['ISTJ', 'ISFJ', 'INFJ', 'INTJ', 'ISTP', 'ISFP', 'INFP', 'INTP']
extrovert_list = ['ESTP', 'ESFP', 'ENFP', 'ENTP','ESTJ','ESFJ', 'ENFJ', 'ENTJ']
cast_introverts = castaway_details2[castaway_details2['personality_type'].isin(introvert_list)].count()['personality_type']/ (castaway_details2['castaway_id'].count())
cast_extroverts = castaway_details2[castaway_details2['personality_type'].isin(extrovert_list)].count()['personality_type']/ (castaway_details2['castaway_id'].count())
Q10A = (cast_extroverts * 100).round(2)
Q10A

53.63

In [15]:
### ENTER CODE HERE ###
Q10B = (cast_introverts*100).round(2)
Q10B

46.37

**Q11A & Q11B**: Now that we know the percentages of total players that are extroverted and introverted, let's see if that made a difference in terms of who actually won their season.

What is the percentage of total extroverts and introverts that have won the game (count players only once even if they have won more than one season)?  Save these percentages as `Q11A` and `Q11B` respectively.  Note: Round all percentages to two decimal points and write as a float (example: 55.57).

In [16]:
### ENTER CODE HERE ###
sole_survivor2 = sole_survivor.drop_duplicates(subset='castaway_id')
winner_introverts = sole_survivor2[sole_survivor2['personality_type'].isin(introvert_list)].count()['personality_type']/ (sole_survivor2['castaway_id'].count())
winner_extroverts = sole_survivor2[sole_survivor2['personality_type'].isin(extrovert_list)].count()['personality_type']/ (sole_survivor2['castaway_id'].count())

Q11A = (winner_extroverts*100).round(2)

Q11A

61.54

In [17]:
### ENTER CODE HERE ###
Q11B = (winner_introverts*100).round(2)

Q11B

38.46

**Q12:** Which contestants have never received a tribal council vote (i.e. a vote to be voted out of the game as shown in the `vote_id` column in the `vote_history` DataFrame)? Note that there are various reasons for a contestant to not receive a tribal vote: they quit, made it to the end, medical emergency, etc.  Select their rows from the `castaway_details` DataFrame and save this as `Q12` in ascending order by `castaway_id`.  This should return a DataFrame and the index and missing values should be left as is.

In [33]:
### ENTER CODE HERE ###

vh1 = castaways.groupby(['castaway_id'])['total_votes_received'].sum().reset_index()

vh2 = vh1.loc[vh1['total_votes_received'] == 0]

vh3 = vh2['castaway_id']

no_votes_ever = vh3.values[0:18]

Q12 = castaway_details[castaway_details['castaway_id'].isin(no_votes_ever)]

Q12

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
18,Survivor: Winners at War,40,Tony Vlachos,424,Tony,45,Allendale,New Jersey,ESTP,15,39,22,Sole Survivor,NaN,Dakal,Dakal,NaN,Koru,0,9
61,Survivor: Edge of Extinction,38,Gavin Whitson,570,Gavin,23,Erwin,Tennessee,ISFJ,14,39,19,Runner-up,NaN,Kama,Manu,NaN,Vata,0,6
80,Survivor: David vs. Goliath,37,Nick Wilson,556,Nick,27,Williamsburg,Kentucky,ENTP,14,39,20,Sole Survivor,NaN,David,Jabeni,NaN,Kalokalo,0,4
83,Survivor: David vs. Goliath,37,Kara Kay,553,Kara,30,San Diego,California,ENFJ,13,38,17,Eliminated,10th jury member,Goliath,Vuku,NaN,Kalokalo,0,5
96,Survivor: David vs. Goliath,37,Bi Nguyen,540,Bi,28,Houston,Texas,ISFP,4,10,4,Quit,NaN,David,NaN,NaN,NaN,0,1
99,Survivor: David vs. Goliath,37,Pat Cusack,537,Pat,41,Watervliet,New York,ESTP,1,3,1,Medically evacuated,NaN,David,NaN,NaN,NaN,0,0
138,Survivor: Game Changers,34,Sarah Lacina,414,Sarah,32,Marion,Iowa,ENTJ,14,39,20,Sole Survivor,NaN,Nuku,Tavua,NaN,Maku Maku,0,4
143,Survivor: Game Changers,34,Cirie Fields,179,Cirie,45,Norwalk,Connecticut,ENFJ,12,36,15,Eliminated,8th jury member,Nuku,Tavua,NaN,Maku Maku,0,4
188,Survivor: Kaoh Rong,32,Neal Gottlieb,468,Neal,38,Sausalito,California,INTP,7,19,8,Medically evacuated,NaN,Chan Loh,Chan Loh,NaN,Dara,0,4
192,Survivor: Kaoh Rong,32,Caleb Reynolds,464,Caleb,27,Hopkinsville,Kentucky,ESFP,4,9,4,Medically evacuated,NaN,Gondol,NaN,NaN,NaN,0,2
210,Survivor: Cambodia,31,Terry Deitz,180,Terry,55,Simsbury,Connecticut,ESTJ,5,13,6,WithdrewFamily,NaN,Ta Keo,Ta Keo,NaN,NaN,0,3
234,Survivor: San Juan del Sur,29,Natalie Anderson,442,Natalie,28,Edgewater,New Jersey,ESTP,15,39,18,Sole Survivor,NaN,Hunahpu,Hunahpu,NaN,Huyopa,0,6
264,Survivor: Cagayan,28,Lindsey Ogle,412,Lindsey,29,Kokomo,Indiana,ESFP,4,14,6,Quit,NaN,Aparri,Solana,NaN,NaN,0,5
287,Survivor: Blood vs. Water,27,Colton Cumbie,359,Colton,22,Collinsville,Alabama,ESFP,3,7,6,Quit,NaN,Galang,NaN,NaN,NaN,0,2
290,Survivor: Blood vs. Water,27,Rupert Boneham,107,Rupert,49,Indianapolis,Indiana,ESFJ,1,1,3,Switched,NaN,Galang,NaN,NaN,NaN,0,0
293,Survivor: Caramoan,26,John Cochran,348,Cochran,25,Washington,D.C.,INTP,15,39,20,Sole Survivor,NaN,Bikal,Bikal,NaN,Enil Edam,0,7
314,Survivor: Philippines,25,Michael Skupin,22,Michael,50,White Lake,Michigan,ESFJ,15,39,17,Co-runner-up,NaN,Tandang,Tandang,NaN,Dangrayne,0,6
315,Survivor: Philippines,25,Lisa Whelchel,385,Lisa,49,Dallas,Texas,INFP,15,39,16,Co-runner-up,NaN,Tandang,Tandang,NaN,Dangrayne,0,4
326,Survivor: Philippines,25,Dana Lambert,375,Dana,32,Winston-Salem,North Carolina,ISTP,5,12,5,Quit,NaN,Kalabaw,Kalabaw,NaN,NaN,0,2
348,Survivor: One World,24,Kourtney Moon,354,Kourtney,29,Austin,Texas,ISFP,1,3,1,Medically evacuated,NaN,Salani,NaN,NaN,NaN,0,0
350,Survivor: South Pacific,23,Benjamin Wade,277,Coach,39,Susanville,California,ENFJ,16,39,19,Runner-up,NaN,Upolu,NaN,NaN,Te Tuna,0,5
396,Survivor: Nicaragua,21,Kelly Shinn,314,Purple Kelly,20,Mesa,Arizona,ENFP,12,28,13,Quit,5th jury member,La Flor,La Flor,NaN,Libertad,0,4
442,Survivor: Samoa,19,Russell Swan,288,Russell S.,42,Glenside,Pennsylvania,ESFJ,6,15,7,Medically evacuated,NaN,Galu,NaN,NaN,NaN,0,4
447,Survivor: Samoa,19,Mike Borassi,283,Mike,62,Marina del Rey,California,ESTP,2,5,2,Medically evacuated,NaN,Foa Foa,NaN,NaN,NaN,0,0
449,Survivor: Tocantins,18,James Thomas Jr.,281,J.T.,24,Mobile,Alabama,ESTP,15,39,16,Sole Survivor,NaN,Jalapao,NaN,NaN,Forza,0,5
467,Survivor: Gabon,17,Jessica Kiper,263,Sugar,29,Brooklyn,New York,ENFP,14,39,16,2nd runner-up,NaN,Kota,Fang,Fang,Nobag,0,3
495,Survivor: Micronesia,16,Kathleen Sleckman,242,Kathy,45,Glen Ellyn,Illinois,ENFP,7,19,8,Quit,NaN,Airai,Airai,NaN,NaN,0,5
497,Survivor: Micronesia,16,Jonathan Penner,196,Jonathan,45,Los Angeles,California,ENTP,6,15,6,Medically evacuated,NaN,Malakal,Airai,NaN,NaN,0,3
504,Survivor: China,15,Courtney Yates,236,Courtney,26,New York City,New York,ENTP,15,39,15,Runner-up,NaN,Fei Long,Fei Long,NaN,Hae Da Fung,0,5
505,Survivor: China,15,Amanda Kimmel,235,Amanda,22,Los Angeles,California,ISFP,15,39,14,2nd runner-up,NaN,Fei Long,Fei Long,NaN,Hae Da Fung,0,6
534,Survivor: Fiji,14,Gary Stritesky,206,Gary,55,Ramsey,Minnesota,ISFJ,4,10,4,Quit,NaN,Moto,NaN,NaN,NaN,0,4
592,Survivor: Palau,10,Tom Westman,150,Tom,40,Sayville,New York,ESTJ,15,39,20,Sole Survivor,NaN,Koror,NaN,NaN,Koror,0,12
610,Survivor: Palau,10,Wanda Shirk,132,Wanda,55,Ulysses,Pennsylvania,ENFP,1,2,2,Eliminated,NaN,None,NaN,NaN,NaN,0,0
611,Survivor: Palau,10,Jonathan Libby,131,Jonathan,23,Dallas,Texas,ISTP,1,2,1,Eliminated,NaN,None,NaN,NaN,NaN,0,0
642,Survivor: All-Stars,8,Susan Hawk,13,Sue,42,Las Vegas,Nevada,ESTP,6,17,6,Quit,NaN,Chapera,Chapera,NaN,NaN,0,3
645,Survivor: All-Stars,8,Jenna Morasca,96,Jenna M.,22,Bridgeville,Pennsylvania,ISTP,3,9,3,Quit,NaN,Mogo Mogo,NaN,NaN,NaN,0,2
648,Survivor: Pearl Islands,7,Sandra Diaz-Twine,112,Sandra,29,Fort Lewis,Washington,ESTP,15,39,18,Sole Survivor,NaN,Drake,Drake,NaN,Balboa,0,3
682,Survivor: Thailand,5,Brian Heidik,80,Brian,34,Quartz Hill,California,ISTP,15,39,16,Sole Survivor,NaN,Chuay Gahn,NaN,NaN,Chuay Jai,0,8
701,Survivor: Marquesas,4,Paschal English,61,Paschal,56,Thomaston,Georgia,ISFJ,14,37,13,Eliminated,6th jury member,Rotu,Maraamu,NaN,Soliantu,0,4
714,Survivor: Africa,3,Ethan Zohn,48,Ethan,27,Lexington,Massachusetts,ISFP,15,39,16,Sole Survivor,NaN,Boran,Boran,NaN,Moto Maji,0,4
730,Survivor: The Australian Outback,2,Tina Wesson,32,Tina,40,Knoxville,Tennessee,ESFJ,16,42,16,Sole Survivor,NaN,Ogakor,NaN,NaN,Barramundi,0,2
740,Survivor: The Australian Outback,2,Michael Skupin,22,Michael,38,White Lake,Michigan,ESFJ,6,17,6,Medically evacuated,NaN,Kucha,NaN,NaN,NaN,0,3
747,Survivor: Borneo,1,Kelly Wiglesworth,15,Kelly,22,Kernville,California,ISFP,14,39,15,Runner-up,NaN,Tagi,NaN,NaN,Rattana,0,7

**Q13:** What contestant has won the most number of challenges?  Select their row from the `castaway_details` DataFrame and save this as `Q13`.  This should return a DataFrame and the index and missing values should be left as is.

In [18]:
### ENTER CODE HERE ###
con_most_wins = challenge_results['winner_id'].mode().values[0].astype(int)

Q13 = castaway_details[castaway_details['castaway_id'] ==  con_most_wins]

Q13

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
200,201,Oscar Lusth,Ozzy,1981-08-23,NaT,Male,Mexican American,Hispanic or Latino,Waiter;Photographer,ISFP

**Q14:** Let's see if the use of hidden immunity idols has increased or decreased over the seasons.   Create a Series of the number of hidden idols held per season.  The season number should be the index and the values should be the sum of the number of idols that were held.  Save this as `Q14`, sorted by season in ascending order.

In [20]:
### ENTER CODE HERE ###
Q14 = hidden_idols.groupby('season')['idols_held'].sum()

Q14

season
11     1
12     1
13     1
14     4
15     3
16     4
17     4
18     3
19     4
20    11
21     4
22     3
23     2
24     3
25     3
26     7
27     3
28     6
29     5
30     3
31     4
32     5
33     7
34     8
35    10
36     9
37     7
38     8
39    13
40    10
Name: idols_held, dtype: int64

**Q15:** Which contestant held the most number of hidden immunity idols in a single season?  Select their row from the `castaway_details` DataFrame and save this as `Q15`.  This should return a DataFrame and the index and missing values should be left as is.

In [21]:
### ENTER CODE HERE ###
con_most_idols = hidden_idols.groupby(['castaway_id', 'season'])['idols_held'].sum().sort_values(ascending=False).reset_index()['castaway_id'].values[0]

Q15 = castaway_details[castaway_details['castaway_id'] ==  con_most_idols]

Q15

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
559,560,Rick Devens,Rick,1984-04-05,NaT,Male,NaN,NaN,Morning News Anchor,ENTP

**Q16:** What was the largest number of days between when a hidden immunity idol was found and played. Don't count instances with missing values in days found or the days played column.  Save the largest number of days as `Q16` (as an int).

In [22]:
### ENTER CODE HERE ###
hidden_idols2 = hidden_idols.copy()

hidden_idols2['difference'] = hidden_idols2['day_played'] - hidden_idols2['day_found']

hidden_idols3 = hidden_idols2.dropna(subset=['day_found', 'day_played'])

hidden_idols4 = hidden_idols3['difference'].sort_values(ascending=False).astype(int)

Q16 = hidden_idols4.values[0]

Q16

33

**Q17:** Let's see how many winners ended up getting unanimous jury votes to win the game.  Create a Dataframe that shows the survivors that got unanimous jury votes with these columns in the final output: `season`, `season_name`, `winner_id`, `full_name`.  The DataFrame should be sorted by season and the index should go from 0 to n-1.  Save this as `Q17`.

In [23]:
### ENTER CODE HERE ###
jury_votes2 = jury_votes.groupby(['season', 'finalist_id']).agg({'vote':'sum', 'castaway_id':'count'})

jury_votes3 = jury_votes2.loc[jury_votes2['vote'] == jury_votes2['castaway_id']].reset_index()

jury_votes4 = jury_votes3['finalist_id']

unanimous_winners = jury_votes4.values[0:5]

unanimous_winners2 = sole_survivor[sole_survivor['castaway_id'].isin(unanimous_winners)]

unanimous_winners3 = unanimous_winners2[['season', 'season_name', 'castaway_id', 'full_name']]

uwinners = unanimous_winners3.rename(columns={'castaway_id': 'winner_id'})

Q17 = uwinners.reset_index(drop=True)

Q17

   season                      season_name  winner_id         full_name
0      14                   Survivor: Fiji        221         Earl Cole
1      18              Survivor: Tocantins        281  James Thomas Jr.
2      26               Survivor: Caramoan        348      John Cochran
3      31               Survivor: Cambodia        433    Jeremy Collins
4      33  Survivor: Millennials vs. Gen X        498        Adam Klein

**Q18:** Sometimes a contestant might win the game even though they have a lot of other contestants trying to eliminate them.    What survivor that won their season had the most votes against them to get voted out during the season (represented as "total_votes_received" from the `sole_survivor` DataFrame).  Select their row from the `castaway_details` DataFrame and save this as `Q18`. This should return a DataFrame and the index and missing values should be left as is.

In [24]:
### ENTER CODE HERE ###
con_most_votes = sole_survivor.sort_values(by='total_votes_received', ascending=False).head(1)['castaway_id'].values[0]

Q18 = castaway_details[castaway_details['castaway_id'] ==  con_most_votes]

Q18

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
515,516,Ben Driebergen,Ben,1983-01-01,NaT,Male,NaN,NaN,Marine;Real Estate/Stay-at-home Dad,ESFP

**Q19:** For the `castaway_details` DataFrame, there is a `full_name` column and a `short_name` column.  It would be helpful for future analysis to have the contestants first and last name split into separate columns.  First copy the `castaway_details` DataFrame to a new DataFrame called `Q19` so that we do not change the original DataFrame.  

Create two new columns and add the contestant's first name to a new column called `first_name` and their last name to a new column called `last_name`.  Add these columns to the `Q19` DataFrame.  Put the `first_name` and `last_name` columns between the `full_name` and `short_name` columns.

Note:  Be careful as some players have last names with multiple spaces.  For example, `Lex van den Berghe`.  You should code `Lex` as his first name and `van den Berghe` as his last name.

In [1]:
### ENTER CODE HERE ###

cast23 = castaway_details.copy()

new = cast23["full_name"].str.split(" ", n = 1, expand = True)

cast23["first_name"] = new[0]

cast23['last_name'] = new[1]

Q19 = cast23[['castaway_id', 'full_name',  'first_name', 'last_name', 'short_name', 'date_of_birth', 'date_of_death',
             'gender', 'race', 'ethnicity', 'occupation', 'personality_type']]

Q19

NameError: name 'castaway_details' is not defined

**Q20:** Let's say that we wanted to predict a contestants personality type based on the information in the data files.  Your task is to create a DataFrame that lists the `castaway_id`, `full_name` and `personality_type` for each castaway contestant.  However, since most machine learning algorithms use numeric data, you want to change the personality types to the following numbers:
- ISTJ - 1
- ISTP - 2
- ISFJ - 3
- ISFP - 4
- INFJ - 5
- INFP - 6
- INTJ - 7
- INTP - 8
- ESTP - 9
- ESTJ - 10
- ESFP - 11
- ESFJ - 12
- ENFP - 13
- ENFJ - 14
- ENTP - 15
- ENTJ - 16
- Missing values - 17

Save this new DataFrame as `Q20` and sort based on `castaway_id` in ascending order.

In [25]:
### ENTER CODE HERE ###
castaway_details3 = castaway_details.copy()
castaway_details3['personality_type'].replace({
    'ISTJ': '1',
    'ISTP' : '2',
    'ISFJ' : '3',
    'ISFP' : '4',
    'INFJ' : '5',
    'INFP'  : '6',
    'INTJ': '7',
    'INTP' : '8',
    'ESTP' : '9',
    'ESTJ' : '10',
    'ESFP' : '11',
    'ESFJ' : '12',
    'ENFP' : '13',
    'ENFJ' : '14',
    'ENTP' : '15',
    'ENTJ': '16',}, inplace=True)

Q20 = castaway_details3[['castaway_id', 'full_name', 'personality_type']]

Q20

     castaway_id          full_name personality_type
0              1  Sonja Christopher               13
1              2      B.B. Andersen               10
2              3    Stacey Stillman               16
3              4        Ramona Gray                1
4              5          Dirk Been                4
..           ...                ...              ...
603          604      Tiffany Seely               15
604          605       Sydney Segal                9
605          606      Shantel Smith               14
606          607         David Voce               16
607          608      Liana Wallace               10

[608 rows x 3 columns]

**Q21:** After thinking about this some more, you realize that you don't want to code the personality traits as you did in problem 20 since the data is not ordinal.  Some machine learning algorithms will assume that numbers close to each other are more alike than those that are away from each other and that is not the case with these personality types.

Let's create a new DataFrame called `Q21` that creates dummy columns (using `get_dummies`) for the original personality type column.  Add a prefix called "type" and drop the first column to help prevent multicollinearity.  The columns should be `castaway_id`, `full_name` followed by the various dummy columns for the personality types.  Don't worry about any missing values in this step.

Remember: Don't change any of the original DataFrames or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [30]:
### ENTER CODE HERE ###
cast5 = castaway_details.copy()

cast6 = pd.get_dummies(cast5, prefix='type', columns=['personality_type'], drop_first=True)

Q21 = cast6.drop(columns=['date_of_birth', 'short_name', 'date_of_death', 'gender', 'race', 'ethnicity','occupation'])

Q21

,castaway_id,full_name,type_ENFP,type_ENTJ,type_ENTP,type_ESFJ,type_ESFP,type_ESTJ,type_ESTP,type_INFJ,type_INFP,type_INTJ,type_INTP,type_ISFJ,type_ISFP,type_ISTJ,type_ISTP
0,1,Sonja Christopher,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,B.B. Andersen,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,3,Stacey Stillman,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,Ramona Gray,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,5,Dirk Been,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,604,Tiffany Seely,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
604,605,Sydney Segal,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
605,606,Shantel Smith,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
606,607,David Voce,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
607,608,Liana Wallace,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

**Q22:** After running your data above through your machine learning model, you determine that a better prediction might come from breaking the personality type into its four parts (one part for each character in the type).  Your task is now to create a DataFrame called `Q22` that splits the personality type into the various parts and creates a new column for each part (these columns should be called `interaction` that will represent the first letter in the personality type, `information` for the second letter, `decision` for the third, and `organization` for the fourth).

Again, since most machine learning algorithms work with numeric data, perform the following on the four new columns:
- `interaction` --> code all `I`'s as `0` and `E`'s as `1`
- `information` --> code all `S`'s as `0` and `N`'s as `1`
- `decision` --> code all `T`'s as `0` and `F`'s as `1`
- `organization` --> code as `J`'s with `0` and `P`'s as `1`
- Any missing values should be coded with a `2`

For example, if a contestant's personality type was `ENTJ`, your columns for that row would be:
- `1` for `interaction` because of the `E`
- `1` for `information` because of the `N`
- `0` for `decision` because of the `T` 
- `0` for `organization` because of the `J`

The new DataFrame should be sorted in `castaway_id` order and have the following columns in this order: `castaway_id`, `full_name`, `personality_type`, `interaction`, `information`, `decision`, `organization`.

Remember: Don't change any of the original DataFrames or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [ ]:
### ENTER CODE HERE ###
cast6 = cast5.copy()

def mbti_columns(data):
    
    new_columns = ['interaction', 'information', 'decision', 'organization']

    data.loc[data['personality_type'].str.contains('E', case=False, na=False), 'interaction'] = 1
    data.loc[data['personality_type'].str.contains('I', case=False, na=False), 'interaction'] = 0
    data.loc[data['personality_type'].str.contains('N', case=False, na=False), 'information'] = 1
    data.loc[data['personality_type'].str.contains('S', case=False, na=False), 'information'] = 0
    data.loc[data['personality_type'].str.contains('F', case=False, na=False), 'decision'] = 1
    data.loc[data['personality_type'].str.contains('T', case=False, na=False), 'decision'] = 0
    data.loc[data['personality_type'].str.contains('P', case=False, na=False), 'organization'] = 1
    data.loc[data['personality_type'].str.contains('J', case=False, na=False), 'organization'] = 0
    
    data[new_columns] = data[new_columns].fillna(2)
    
    data['interaction'] = data['interaction'].apply(np.int64)
    data['information'] = data['information'].apply(np.int64)
    data['decision'] = data['decision'].apply(np.int64)
    data['organization'] = data['organization'].apply(np.int64)
     
    return data[['castaway_id', 'full_name', 'personality_type', 'interaction', 'information', 'decision', 'organization']]



Q22 = mbti_columns(cast6)

Q22

**Q23:** Using data from `castaways`, create a DataFrame called `Q23` that bins the contestant ages (their age when they were on the season, not their current age) into the following age categories:
- 18-24
- 25-34
- 35-44
- 45-54
- 55-64
- 65+

The final DataFrame should have the following columns in this order: `season`, `castaway_id`, `full_name`, `age`, and `age_category`.  The DataFrame should be sorted by age and then castaway_id.  The index should be 0 through n-1.  You should have the same amount of rows as in the `castaways` DataFrame.

Remember: Don't change any of the original DataFrames or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [27]:
### ENTER CODE HERE ###
cast9 = castaways.copy()

bins = [17, 24, 34, 44, 54, 64, 100]
labels = ['18-24', '25-34', '35-44', '45-54', '55-64', '65+']
cast9['age_category'] = pd.cut(x = cast9['age'], bins = bins, labels = labels)

cast10 = cast9.sort_values(by=['age', 'castaway_id'])

cast10

Q23 = cast10[['season', 'castaway_id', 'full_name', 'age', 'age_category']].reset_index(drop=True)

Q23

     season  castaway_id          full_name  age age_category
0        33          491          Will Wahl   18        18-24
1        36          528     Michael Yerger   18        18-24
2        18          270       Spencer Duhm   19        18-24
3        22          336  Natalie Tenerelli   19        18-24
4        23          350      Brandon Hantz   19        18-24
..      ...          ...                ...  ...          ...
757      24          366         Greg Smith   64        55-64
758      21          304      Jimmy Johnson   67          65+
759      32          474   Joseph Del Campo   71          65+
760       1           14        Rudy Boesch   72          65+
761       8           14        Rudy Boesch   75          65+

[762 rows x 5 columns]

**Q24:** Based on the age categories you created above, what are the normalized percentages for the various age categories using `value_counts()`.  Sort the value counts by index.  Save this as `Q24`.

In [28]:
### ENTER CODE HERE ###
Q24 = Q23['age_category'].value_counts(normalize=True).sort_index()

Q24

18-24    0.190289
25-34    0.437008
35-44    0.211286
45-54    0.124672
55-64    0.031496
65+      0.005249
Name: age_category, dtype: float64

**Q25:** Which contestant(s) played a perfect game?  A perfect game is considered when the contestant:
- didn't receive any tribal council votes all season
- won the game
- got unanimous jury votes (see question 17)

Save this DataFrame as `Q25` with the following columns: `season_name`, `season`, `castaway_id`, `full_name`, `tribal_council_votes`, `jury_votes`.  The DataFrame should be sorted by season and the index should be 0 to n-1.

In [29]:
### ENTER CODE HERE ###

jv2 = jury_votes.groupby(['season', 'finalist_id']).agg({'vote':'sum', 'castaway_id':'count'}).reset_index()

jv3 = jv2[['finalist_id', 'vote']]

jv4 = pd.merge(sole_survivor, jv3, how="inner", left_on="castaway_id", right_on="finalist_id")

jv5 = jv4.rename(columns={"total_votes_received": "tribal_council_votes", 'vote':'jury_votes'})

perfect_game = jv5[jv5['castaway_id'].isin(unanimous_winners)]

perfect_game2 = perfect_game.loc[perfect_game['tribal_council_votes'] == 0]

Q25 = perfect_game2[['season_name', 'season', 'castaway_id', 'full_name', 'tribal_council_votes', 'jury_votes']].reset_index(drop=True)

Q25

,season_name,season,castaway_id,full_name,tribal_council_votes,jury_votes
0,Survivor: Tocantins,18,281,James Thomas Jr.,0,7
1,Survivor: Caramoan,26,348,John Cochran,0,8